<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.repository.mybatis.TaskMapper">
    <resultMap id="Task" type="com.example.todo.domain.Task">
        <id property="taskId" column="TASK_ID"/>
        <result property="title" column="TITLE"/>
        <result property="description" column="DESCRIPTION"/>
        <result property="createdAt" column="CREATED_AT"/>
        <association property="user" resultMap="User"/>
    </resultMap>

    <resultMap id="User" type="com.example.todo.domain.User">
        <id property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
    </resultMap>

    <select id="find" resultMap="Task">
        SELECT T.TASK_ID, T.TITLE, T.DESCRIPTION, T.CREATED_AT, U.USER_ID, U.USER_NAME
        FROM TASKS T INNER JOIN USERS U USING (USER_ID)
        <where>
            <if test="title != null">
                T.TITLE LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="userName != null">
                AND USER_NAME LIKE CONCAT('%', #{userName}, '%')
            </if>
        </where>
        ORDER BY T.TASK_ID ASC
    </select>

    <!--    <select id="get" resultMap="Movie">-->
    <!--        SELECT M.MOVIE_ID, M.MOVIE_NAME, D.DIRECTOR_ID, D.DIRECTOR_NAME-->
    <!--        FROM MOVIE M INNER JOIN DIRECTOR D USING (DIRECTOR_ID)-->
    <!--        WHERE MOVIE_ID = #{movieId}-->
    <!--    </select>-->

    <!--    <select id="lock" resultMap="Movie">-->
    <!--        SELECT M.MOVIE_ID, M.MOVIE_NAME, D.DIRECTOR_ID, D.DIRECTOR_NAME-->
    <!--        FROM MOVIE M INNER JOIN DIRECTOR D USING (DIRECTOR_ID)-->
    <!--        WHERE MOVIE_ID = #{movieId}-->
    <!--        FOR UPDATE-->
    <!--    </select>-->

    <!--    <insert id="add" parameterType="com.example.demo.domain.Movie" keyProperty="movieId">-->
    <!--        &lt;!&ndash; selectKeyによってmovieIdを新しく設定する &ndash;&gt;-->
    <!--        <selectKey keyProperty="movieId" resultType="string" order="BEFORE">-->
    <!--            &lt;!&ndash; MOVIE_IDのAUTO INCREMENTを実装 &ndash;&gt;-->
    <!--            SELECT COALESCE(CONCAT('M', LPAD(RIGHT(MAX(MOVIE_ID), 2) + 1, 2, '0')), 'M01') FROM MOVIE-->
    <!--        </selectKey>-->
    <!--        INSERT INTO MOVIE (MOVIE_ID , MOVIE_NAME, DIRECTOR_ID) VALUES (#{movieId}, #{movieName}, #{director.directorId});-->
    <!--    </insert>-->

    <!--    <update id="set" parameterType="com.example.demo.domain.Movie">-->
    <!--        UPDATE MOVIE-->
    <!--        <set>-->
    <!--            <if test="movieName != null">-->
    <!--                MOVIE_NAME = #{movieName},-->
    <!--            </if>-->
    <!--            <if test="director.directorId != null">-->
    <!--                DIRECTOR_ID = #{director.directorId},-->
    <!--            </if>-->
    <!--        </set>-->
    <!--        WHERE MOVIE_ID = #{movieId}-->
    <!--    </update>-->

    <!--    <delete id="remove" parameterType="com.example.demo.domain.Movie">-->
    <!--        DELETE FROM MOVIE-->
    <!--        WHERE MOVIE_ID = #{movieId}-->
    <!--    </delete>-->
</mapper>